docs/Self-Supervised_Learning_Self-Prediction_and_Contrastive_Learning_Lilian_Weng_Tutorial_2021.pdf filter=lfs diff=lfs merge=lfs -text
docs/Self-Supervised_Learning_in_Vision_Chen_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/Self-Supervised_Learning_from_Images_with_a_Joint-Embedding_Predictive_Architecture_Assran_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/Self-Supervised_Learning_for_Time_Series_Analysis-Taxonomy_Progress_and_Prospects_Zhang_2024.pdf filter=lfs diff=lfs merge=lfs -text
